@media (min-width:601px){
    @font-face {
        font-family: Lobster_Two;
        src: url(Lobster_Two/LobsterTwo-Regular.ttf);
    }
    body{
        position: relative;
        width: 100%;
        height: 1194px;
        background: #F6F4FF;
        margin: 0;
        text-align: center;       
        font-family: Lobster_Two; 
    }
    .longBody{
        height: 2388px;
    }
    #mediumBody{
        height: 1230px;
    }

    /*header*/
    h1 {
        color: #F6F4FF;
        font-size: 90px;
        text-shadow: 2px 2px 0  #000000;
    }
    .headerDiv{
        position: absolute;
        width: 100%;
        height: 48vh;
        top: 0;
        left: 0;
    }
    .headerImageDiv {
        width: 125vw;
        position: absolute;
        left: -24.8%;
        right: -55.47%;
        top: -47.39%;
        bottom: 0%;
        background-position: 50% 50%;
        background-size: cover;
    }
    .headerDivA{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    .headerDivA a{
            text-decoration: none;
        }

        /*nav*/
        .dropdown {
            display: none;
        }
        .mediumNavBar{
            position: absolute;
            background-color: black;
            opacity: 70%;
            top: 34vh;
            width: 100%;
            height: 6vh;
        }
        .mediumNavBar ul{
            list-style-type: none;
            margin: 1em;
            
        }
        .mediumNavBar li{
            display: inline-block;
            opacity: 100%;
            padding: 0 1em ;
        }
        .mediumNavBar a {
            opacity: 100%;
            text-decoration: none;
            color: #828187;
            font-size: 20px;
        }
        .mediumNavBar li :hover{
            opacity: 100%;
            color: #fff;
        }
        h3 {
            font-size: 35px;
        }


/*main*/
main p{
    color: black;
    font-size: 30px;
}

.mainText{
    position: absolute;
    width: 90%;
    height: auto;
    top: 40vh;
    left: 4em;
}
#welcome{
    position: absolute;
    width: 100%;
    height: 178px;
    left: 2vw;
    top: 510px;
}
.alert {
    position: absolute;
    width: 100%;
    height: 4vh;
    top: 40vh;
    padding: 1px;
    background-color: #171520;
    color: #F6F4FF;
    margin-bottom: 15px;
    font-size: 20px;
}
.closebtn{
    margin: 5px;
    color: #F6F4FF;
    float: right;
    font-size: 20px;
}
/*Slideshow*/
#slideshow {
    position: absolute;
    width: 100%;
    height: 542px;
}
.slide{
    position: absolute;
    width: 100%;
    height: 542px;
    left: 0px;
    top: 730px;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}
.slide img{
    width: 100%;
    height: 542px;
    object-position: 50% 50%;
    object-fit: cover;
    justify-content: center;

}
.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#fff;
    font-size: 30px;
    padding: 30% 5%;
    position: absolute;
    bottom: 8px;
    width: 100%;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    text-shadow: 2px 4px 4px #000000;
}

.dot {
    position: relative;
    cursor: pointer;
    top: 110vh;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active{
    background-color: #4e4b4b;
  }
.dot:hover {
    background-color: #4e4b4b;
  }
#indexInfo{
    position: absolute;
    width: 100%;
    height: 490px;
    top: 55%;
    left: 0.5em;
    font-size: 30px;
}
#orderImage{
    position: absolute;
    width: 100%;
    height: 455px;
    left: 0;
    top: 1662px;
    background-image: url(images/sortiment.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
#orderImage a{
    position: absolute;
    width: 100%;
    height: 236px;
    text-decoration: none;
    font-size: 30px;
    left: 0.5em;
    top: 160px;
    color: #FFFFFF;
    text-shadow: 2px 4px 4px #000000;
    z-index: 2;
}
.sortiment{
    position: absolute;
    width: 100%;
    height: 25vh;
    top:40vh;
    left: 0;
}
.sortimentDiv {
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;
}
.sortimentA{
    position: relative;
    display: flex;
    width: 100%;
    height: 15vh;
}
.sortimentB {
    position: relative;
    display: inline-block;
    width: 384px;
    height: 10vh;
}
#cupcake{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 32%;
    left: 48%;
}
#cake {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 45%;
    left: 46%;
}
#bread{
    position: absolute;
    width: 79px;
    height: 79px;
    top: 45%;
    left: 46%;
}
.sortimentDiv a{
    position: relative;
    top: 90%;
    left: 40%;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    font-weight: bold;
}
.sortimentA a{
    position: relative;
    top: 92%;
    left: 45%;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    font-weight: bold;
}
.sortimentB a{
    position: relative;
    top: 11vh;
    left: 45%;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    font-weight: bold;
}
.nyhetImageDiv{
    position: absolute;
    width: 100%;
    height: 227px;
    top: 63vh;
    background-image: url(images/nyhet.jpg);
    background-position: 50% 50%;
    background-size: cover;    
}
#orders h3{
    font-size: 20px;
    line-height: 25px;
}
#orderDiv{
    position: absolute;
    width: 90%;
    height: 250px;
    left: 30vw;
    top: 58vh;
}
#orderDiv form{
    float: left;
    width: 340px;
}
#orderDiv input{
    width: 376px;
    height: 23px;
}
#orderDiv textarea{
    margin: 0;
    width: 376px;
    height: 7vh;
    float: left;
}
#orderDiv button{
    position: absolute;
    top: 20vh;
    display: block;
    float: left;
}


/*footer*/
.footerDiv{
    position: absolute;
    width: 100%;
    height: 25vh;
    left: 0;
    bottom: 0;
    background-color: #F8EACB;
    display: flex;
    float: left;
}
.social{
    top: 0;
    left: 0;
}
.social ul{
    list-style-type: none;
    text-decoration: none;
    color: #000;
}
.footerMeny{
    width: 100%;
    height: 176px;
    bottom: 0;
    left: 0;
    text-align: center;
}
.footerMeny ul{
    list-style-type: none;
    font-size: 15px;
    text-align: center;
}

.footerMeny a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
}
.fb{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 2px;
    left: 6px;
    
}
.insta{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 2px;
    left: 76px;
}
}